<div class="col-md-6 p-5">ユーザー名</div>


<div class="container">
    <div class="row">
        <div class="col-12 p-3 mb-3" style="text-align: center; font-weight:bold;"><u class="text-info">習慣グラフ</u></div>
        <div class="col-md-6 p-3">
            <canvas id="weekChart"></canvas>
            <script>draw_graph();</script>
        </div>
        <div class="col-md-6 p-3">
            <canvas id="monthChart"></canvas>
            <script>draw_graph();</script>
        </div>         
    </div>
</div>

<div class="row p-3">  
    <div class="col-md-6 p-5">
        <div class="card border-info p-3 mb-3">
            <div class="card-header">今週</div>
            <div class="card-body text-info">
                <h5 class="card-title">今週の達成率</h5>
                <p class="card-text">○○%</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 p-5">
        <div class="card border-info p-3 mb-3">
            <div class="card-header">平均</div>
            <div class="card-body text-info">
                <h5 class="card-title">平均達成率</h5>
                <p class="card-text">○○%</p>
            </div>
        </div>
    </div>
</div>

<div id="habit-favorite" class="container mb-5">
  <div class="row">  
    <div class="col-md-6 p-3">
      <label for="#reccomend"><u class="text-info">あなたへのおすすめ</u></label>  
      <div id="recommend" class="list-group">
        <a href="article.html" class="list-group-item list-group-item-action">おすすめの</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">表示</a>
      </div>
    </div>
    
    <div class="col-md-6 p-3">
      <label for="#reccomend"><u class="text-info">閲覧履歴</u></label>
      <div class="list-group">
        <a href="article.html" class="list-group-item list-group-item-action">直近読んだ</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">表示</a>
      </div>
    </div>
  </div>
</div>