<div class="container p-3 text-align" style="font-style: italic; font-size: large;" id="messageswitch">
  <p v-if="toggle">Welcome, ○○！</p>
  <p v-else=><a href="log_in.html" class="text-dark">Please log in...</a></p>
  <button v-on:click="toggleBtn" class="btn btn-outline-secondary">切り替え</button>
</div>

<div class="container p-3" id="app">
  <carousel autoplay="true" loop="true" :autoplay-timeout="5000">
    <slide v-for="n in 8">
      <div class="slider-inner bg-dark text-white">
        <div class="slideTittle p-3 mb-0" style="font-weight: bold;">Slide {{n}} Tittle</div>
        <div class="slideContent p-3">Slide {{n}} Content</div>
      </div>
    </slide>
  </carousel>
</div>

<div class="container p-3">

  <div class="row">
    <div class="col-md-6 p-3">
      <label for="technologyList" type="button" class="btn btn-outline-secondary disabled">テクノロジー</label>
      <div class="list-group" id="technologyList">
        <a href="article.html" class="list-group-item list-group-item-action">ジャンル内の</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">ピックアップ</a>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <label for="governmentList" type="button" class="btn btn-outline-secondary disabled">政治・社会</label>
      <div class="list-group" id="governmentList">
        <a href="article.html" class="list-group-item list-group-item-action">ジャンル内の</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">ピックアップ</a>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-6 p-3">
      <label for="economyList" type="button" class="btn btn-outline-secondary disabled">金融・経済</label>
      <div class="list-group" id="economyList">
        <a href="article.html" class="list-group-item list-group-item-action">ジャンル内の</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">ピックアップ</a>
      </div>
    </div>  
    <div class="col-md-6 p-3">
      <label for="bussinessList" type="button" class="btn btn-outline-secondary disabled">ビジネス</label>
      <div class="list-group" id="bussinessList">
        <a href="article.html" class="list-group-item list-group-item-action">ジャンル内の</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">ピックアップ</a>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-6 p-3">
      <label for="educationList" type="button" class="btn btn-outline-secondary disabled">教育</label>
      <div class="list-group" id="educationList">
        <a href="article.html" class="list-group-item list-group-item-action">ジャンル内の</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">ピックアップ</a>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <label for="entertainmentList" type="button" class="btn btn-outline-secondary disabled">エンタメ</label>
      <div class="list-group" id="entertainmentList">
        <a href="article.html" class="list-group-item list-group-item-action">ジャンル内の</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">ピックアップ</a>
      </div>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-6 p-3">
      <label for="sportList" type="button" class="btn btn-outline-secondary disabled">スポーツ</label>
      <div class="list-group" id="sportList">
        <a href="article.html" class="list-group-item list-group-item-action">ジャンル内の</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">ピックアップ</a>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <label for="internationalList" type="button" class="btn btn-outline-secondary disabled">国際</label>
      <div class="list-group" id="internationalList">
        <a href="article.html" class="list-group-item list-group-item-action">ジャンル内の</a>
        <a href="article.html" class="list-group-item list-group-item-action">ニュースを</a>
        <a href="article.html" class="list-group-item list-group-item-action">数件</a>
        <a href="article.html" class="list-group-item list-group-item-action">ピックアップ</a>
      </div>
    </div>
  </div> 

</div>

