/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.VueCarousel{
    height: 300px;
  }
  .VueCarousel-wrapper, .VueCarousel-inner, .VueCarousel-slide{
    height: 100% !important;
  }
  .VueCarousel-slide .slider-inner {
    height: 100%;
    /*background-color: #62caaa;*/ 
    display: flex; 
    flex-direction: column;
    justify-content: flex-end; 
    align-content: flex-end;
    border: 2px solid #62caaa;
    /*font-size: 30px;*/ 
    border-radius: 10px;
}


#footer {
    margin-top:auto;
    /*position: absolute;*/
    margin-bottom: 0;
    width: 100%;
    /*height: 100px;*/
}

.card-body {
  background-image: image-url("%= item.thumbnail_url %>");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% contain;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;  
}