// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  
.carousel-item {
  .carousel-image {
    filter: brightness(60%) blur(1px);
    border: 4px solid #000000;
  }
}
.carousel-item:hover {
  .carousel-image {
    /*filter: opacity(40%);*/
    filter: none;
  }  
  h5, p {
    font-color: #000000;
  }
}
